body {
  background-image: url("Picking-flowers.jpg");
  background-size: cover;
  align-content: center;
  background-repeat: no-repeat;
  font-family: ITC American Typewriter;
   max-height: 100vh;
}
a {
  text-decoration: none; 
  color: inherit;        
  display: block;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.Text1, .Text2, .Text3, .Text4, .Text5, .Text6 {
  opacity: 0; 
  animation: fadeIn 0.2s forwards;
  color: white;
  position: absolute;
  cursor: pointer;  
  pointer-events: auto; 
}

.Text1 {
  top: 60px;
  left: 80px;
  font-size: 20px;
  animation-delay: 0s; 
}

.Text2 {
  top: -10px;
  left: 100px;
  font-size: 40px;
  animation-delay: 0.2s; 
}

.Text3 {
  top: 80px;
  left: 10px;
  font-size: 60px;
  animation-delay: 0.4s;
}

.Text4 {
  top: 180px;
  left: 300px;
  font-size: 30px;
  animation-delay: 0.6s;
}

.Text5 {
  top: 250px;
  left: 10px;
  font-size: 10px;
  animation-delay: 0.8s;
}

.Text6 {
  top: 10px;
  left: 350px;
  font-size: 10px;
  animation-delay: 1s;
}